<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>网站一级标题</h1>
	<ul>
		<li><a href="">导航链接一</a></li>
		<li><a href="">导航链接二</a></li>
		<li><a href="">导航链接三</a></li>
		<li><a href="">导航链接四</a></li>
	</ul>
	<h3>文章一级标题</h3>
	<h3>文章二级标题</h3>
	<span>文章作者 文章发表时间</span>
	<span>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落</span>
	<br>
	<span>换行了</span>
	<span>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落,换行了</span>
	<span>这是一个很长很长的段落，这是一个很长很长的段落</span><a href="">这里有一个链接连接到http://ife.baidu.com</a><span>，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落,换行了</span>
	<span>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落,换行了</span>

   <img src="/image/test.jpg" alt="" />

</body>
</html>