html{color:#000;height:100%;background-image: cover;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;outline:0;}
body{min-width: 1300px;font-family:"Microsoft Yahei";font-weight:normal;font-size:12px;line-height:20px;height:100%;position:relative;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select,button{font-family:inherit;font-size:inherit;font-weight:inherit;outline:none;}
input,textarea,select{*font-size:100%;resize:none;}
legend{color:#000;}
i{font-style: normal;}
b{font-weight:normal;}
a{text-decoration:none;color:#2a5295;cursor:pointer;}
li a:hover,span a:hover{text-decoration:none;}
a.normal{font-size:12px;color:#333;text-decoration:none;}
a:hover,a:active,a:focus,a:link {outline: none;text-decoration:none;}
.mr10{margin-right:10px;}
.ml10{margin-left:10px;}
.mr20{margin-right:20px;}
.ml20{margin-left:20px;}
.mr30{margin-right:30px;}
.ml30{margin-left:30px;}
.mr40{margin-right:40px;}
.ml40{margin-left:40px;}
.mr50{margin-right:50px;}
.ml50{margin-left:50px;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}
.mt30{margin-top:30px;}
.mb30{margin-bottom:30px;}
.mt40{margin-top:40px;}
.mb40{margin-bottom:40px;}
.mt50{margin-top:50px;}
.mb50{margin-bottom:50px;}
.pr10{padding-right:10px;}
.pl10{padding-left:10px;}
.pr20{padding-right:20px;}
.pl20{padding-left:20px;}
.pr30{padding-right:30px;}
.pl30{padding-left:30px;}
.pr40{padding-right:40px;}
.pl40{padding-left:40px;}
.pr50{padding-right:50px;}
.pb50{padding-left:50px;}
.pt10{padding-top:10px;}
.pb10{padding-bottom:10px;}
.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}
.pt30{padding-top:30px;}
.pb30{padding-bottom:30px;}
.pt40{padding-top:40px;}
.pb40{padding-bottom:40px;}
.pt50{padding-top:50px;}
.pb50{padding-bottom:50px;}
.clearfix{clear: both;}
.center{text-align: center;}

/*header*/
.header
{
	background: url(../images/b_bg.jpg)repeat;
	height: 247px;
	border-bottom: 2px solid #e45e0c
}
.logohero
{
	background: url(../images/logo-h.png)no-repeat;
	width: 172px;
	height: 172px;
	position: absolute;
	top: 40px;
	left: 40px;
}
.logo {
    background: rgba(0, 0, 0, 0) url("../images/logo.png") no-repeat scroll 0 0;
    height: 100px;
    left: 235px;
    position: absolute;
    top: 50px;
    width: 300px;
}

.logo p {
    color: #fff;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 124px;
}
.topNav
{
	right: 50px;
    position: absolute;
    top: 90px;
}

.topNav ul {
    float: left;
    margin-right: 50px;
}
.topNav li
{
	background: rgba(0, 0, 0, 0) url("../images/common.png") no-repeat scroll 0 -256px;
    color: #fff;
    float: left;
    font-size: 25px;
    height: 72px;
    list-style: outside none none;
    margin-left: -35px;
    padding-top: 28px;
    text-align: center;
    width: 175px;
}
.topNav li a
{
	color:#fff;
	padding: 10px;
}

.topNav li.active
{
	background: rgba(0, 0, 0, 0) url("../images/common.png") no-repeat scroll 0 -175px;
    height: 45px;
    width: 175px;
}
.topNav li:hover
{
	background: rgba(0, 0, 0, 0) url("../images/common.png") no-repeat scroll 0 -175px;
	height: 45px;
    width: 175px;
}
.topNav .wechat,.topNav .qq
{
	background: rgba(0, 0, 0, 0) url("../images/common.png") no-repeat scroll -365px -138px;
    cursor: pointer;
    float: left;
    height: 50px;
    margin: 5px;
    width: 58px;
    position: relative;

}
.topNav .qq
{
	 background-position: -430px -138px;
}

.topNav .text {
    color: #fff;
    float: left;
    padding: 10px;
}
.imlay
{
    left: 5px;
    position: absolute;
    top: 61px;
    display: none;
    z-index: 20;
    color: #fff;
    font-size: 14px;
    width: 100px;
}



/*footer*/
.footer
{
	background:url(../images/b_bg.jpg)repeat;
	height: 247px; 
}
/*footer*/

.layout-ft {
    margin: 0 auto;
    position: relative;
    width: 1300px;
    padding-top: 80px;
}
.foter-txt {
    color: #989898;
    font-size: 20px;
    line-height: 26px;
    margin-left: 10px;
    margin-top: 20px;
    position: absolute;
    right: 95px;
}
.foter-img {
    border-right: 1px solid #989898;
    left: 140px;
    padding: 20px 20px 0 0;
    position: absolute;
}

/*子页底部*/
.V-contact {
    border-top: 1px dashed #aaa;
    margin-bottom: 90px;
    text-align: center;
}
.erm-img {
    margin: 60px auto;
    width: 200px;
}
.V-contact > p {
    color: #010101;
    font-size: 40px;
}