<!DOCTYPE HTML>
<html>
<body>
<h1>网站一级标题</h1>
<a href="www.baidu.com/">导航到百度一</a><br />

<a href="http://www.baidu.com" target="_blank">导航到百度二(新开页面)</a><br />

<a name="refTest1"></a>
<a href="#refTest2">转到下面的正文</a><br />

<a href="http://www.baidu.com" target="_top">导航百度四(top)</a><br />

<h2>文章一级标题</h2>

<h3>文章二级标题</h3>
<p name="author">文章作者  文章发表时间</p>

<p name="file1">
这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落
，这是一个很长很长的段落，这是一个很长很长的段落， 这是一个很长很长的段落，这是一个很长很长的段落，
这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落
，该换行了！<br />
这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，
这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，
这是一个很长很长的段落，这是一个很长很长的段落。换行！<br />
这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，
<a href="http://ife.baidu.com" target="_top">这里有一个链接到http://ife.baidu.com</a><br />，
这是一个很长很长的段落，这是一个很长很长的段落，<b>这里有一串粗体字</b> 这是一个很长很长的段落，这是一个很长很长的段落，<br />
<img src="../image/Wot.jpg"  alt="这个是图片" /><br />
这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，
这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落。换行！<br />
这是一个很长很长的段落，<b>这里有一串粗体字</b> 这是一个很长很长的段落，这是一个很长很长的段落，<a href="http://ife.baidu.com" target="_blank">这里有一个链接点击后打开新窗口到http://ife.baidu.com</a><br />
，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，<br />
</p>

<h2>另一篇文章一级标题</h2>

<h3>文章二级标题</h3>
<p name="author">文章作者  文章发表时间</p>
<p name="file2">
这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，
这是一个很长很长的段落，这是一个很长很长的段落， 这是一个很长很长的段落，这是一个很长很长的段落，
这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，该换行了！<br />
这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，
这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落
，这是一个很长很长的段落。换行！<br />
这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，<a href="http://ife.baidu.com" target="_top">这里有一个链接到http://ife.baidu.com</a><br />，
这是一个很长很长的段落，这是一个很长很长的段落，<b>这里有一串粗体字</b> 这是一个很长很长的段落，这是一个很长很长的段落，<br />
<img src="../image/Wot.jpg"  alt="这个是图片" /><br />
<ul>
  <li>列表项目1</li>
  <li>列表项目2</li>
  <li>列表项目3</li>
</ul>
</p>

<h2>图片</h2>
<p> 这是一个好看的图片<br />
<img src="../image/Wot.jpg"  alt="这个是图片" /><br />
这是一个好看的图片<br />
<img src="../image/Wot.jpg"  alt="这个是图片" /><br />
这是一个好看的图片<br />
<img src="../image/Wot.jpg"  alt="这个是图片" /><br />
这是一个好看的图片<br />
<img src="../image/Wot.jpg"  alt="这个是图片" /><br />
这是一个好看的图片<br />
<img src="../image/Wot.jpg"  alt="这个是图片" /><br />
这是一个好看的图片<br />
<img src="../image/Wot.jpg"  alt="这个是图片" /><br />
这是一个好看的图片<br />
<img src="../image/Wot.jpg"  alt="这个是图片" /><br />
这是一个好看的图片<br />
<img src="../image/Wot.jpg"  alt="这个是图片" /><br />
这是一个好看的图片<br />
<img src="../image/Wot.jpg"  alt="这个是图片" /><br />
这是一个好看的图片<br />
<img src="../image/Wot.jpg"  alt="这个是图片" /><br />
</p>
<a name="refTest2"> </a>
<a href="#refTest1">回到页面标题</a>
</body>
</html>